body {
  font: 44px "Century Gothic", Futura, sans-serif;
  margin: 70px;
}

ol,
ul {
  padding-left: 90px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.history-button {
  color: blue;
  background-color: azure;
  font-size: 30px;
  text-align: center;
  height: 50px;
  line-height: 55px;
}

.history-highlight {
  color: crimson;
}

.status {
  margin-bottom: 20px;
}

.square {
  background: rgba(26, 173, 26, 0.74);
  border: 5px solid rgba(22, 19, 19, 0.746);
  float: left;
  font-size: 3em;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 70px;
}
