body {
  font: 44px "Century Gothic", Futura, sans-serif;
  margin: 150px;
}

.history {
  margin-top: 40px;
}

.history-line {
  padding-left: 10px;
  margin-top: 10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.history-button {
  color: blue;
  background-color: azure;
  font-size: 30px;
  text-align: center;
  font-weight: lighter;
  height: 50px;
  line-height: 55px;
}

.history-highlight {
  color: crimson;
}

.status {
  margin-bottom: 50px;
  margin-top: 50px;
}

.radio-button-rise {
  width: 30px;
  height: 30px;
  font-size: 30px;
  margin-right: 20px;
  margin-top: 40px;
}

.radio-button-down {
  width: 30px;
  height: 30px;
  font-size: 30px;
  margin-right: 1px;
  margin-left: 30px;
  margin-top: 40px;
}

.square {
  background: rgba(26, 173, 26, 0.74);
  border: 4px solid rgba(22, 19, 19, 0.746);
  float: left;
  font-size: 3em;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.squareWin {
  background: rgba(233, 25, 188, 0.74);
  border: 4px solid rgba(22, 19, 19, 0.746);
  float: left;
  font-size: 3em;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  margin-left: 300px;
}

.game-info {
  margin-top: -50px;
  margin-left: 200px;
}
